/* 0nePet */
.onePetWrap {
  width: 800px;
  margin: 0 auto;
}
.namePet {
}
.cardPet {
  display: flex;
}
.imagePetWrap {
  width: 300px;
  height: 100%;
}
.imagePet {
}
.infoPetWrap {
  padding: 20px;
}
.aboutPet {
}
.dataPet {
}
.descriptionPet {
}
